.footer {
	color: #ffffff;
	background-color: #0787e6;
	min-height: 4rem;
}

.footer-content {
	width: 80%;
	margin: 0 auto;
}

.footer-links {
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
}

.footer-links a {
	color: #ffffff;
}

.footer-links.github {
	float: right;
	font-size: 1.2rem;
}

.social-icon {
	color: #ffffff;
}
