.login {
	min-height: calc(100vh - 8rem);
}

.login-signup-form {
	width: 80%;
	margin: 10% auto;
}

.login-info {
	background: rgb(7, 135, 230);
	background: linear-gradient(
		180deg,
		rgba(7, 135, 230, 1) 0%,
		rgba(45, 156, 255, 1) 50%,
		rgba(7, 135, 230, 1) 100%
	);
	color: #ffffff;
	font-size: 1.5rem;
	min-height: calc(100vh - 8rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-header {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.websites {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

@media screen and (min-width: 576px) {
	.login {
		height: calc(100vh - 8rem);
	}
}
