.navbar {
	height: 4rem;
	background-color: #0787e6;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar .navbar-logo {
	font-size: 1.7rem;
	color: #ffffff;
	cursor: pointer;
	line-height: 4rem;
}

.navbar .navbar-link {
	transition-duration: 0.7s;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
	height: 4rem;
	line-height: 4rem;
}

.navbar .navbar-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.small-screen-navbar-link {
	padding: 1.5rem 0;
	text-align: center;
	border-bottom: 1px solid #bebebe;
	color: #0787e6;
	cursor: pointer;
}
