.navbar {
	background-color: #1890ff;
	color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 8vh;
}

.navbar .navbar-logo {
	display: inline-block;
	width: 75%;
	font-size: 1.7rem;
	color: #ffffff;
}

.navbar .navbar-link {
	width: 10%;
	height: 100%;
	display: inline-block;
	border-radius: 0;
	border: none;
	background-color: #1890ff;
	color: #ffffff;
	text-decoration: none;
	transition-duration: 0.7s;
	text-align: center;
	cursor: pointer;
	font-size: 1rem;
}

.navbar .navbar-link:hover {
	background-color: #0781f3;
}

a {
	text-decoration: none !important;
}

.ant-layout-header {
	line-height: 0;
}
