.profile {
	min-height: calc(100vh - 4rem);
	width: 90%;
	margin: 2% 5%;
}

.profile-userinfo {
	text-align: center;
	padding: 2rem;
	background: rgb(7, 135, 230);
	background: radial-gradient(circle, rgba(7, 135, 230, 1) 0%, rgba(75, 170, 255, 1) 100%);
}

.profile-username {
	text-transform: capitalize;
	font-size: 3rem;
	color: #ffffff;
	margin-bottom: 0.8rem;
}

.profile-useremail {
	font-size: 1rem;
	color: #ffffff;
}

.tab-content {
	margin-bottom: 5rem;
	padding: 0 1rem;
}

.submit-tutorial-button {
	margin-top: 1rem;
}

.nothing-to-show {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
	.profile-username {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}

	.profile-useremail {
		font-size: 0.9rem;
	}
}
