.profile {
	width: 90%;
	margin: 2% 5%;
	min-height: 80vh;
}

.profile-userinfo {
	text-align: center;
	padding: 2rem;
	background: rgb(7, 135, 230);
	background: radial-gradient(circle, rgba(7, 135, 230, 1) 0%, rgba(75, 170, 255, 1) 100%);
}

.profile-avatar {
	margin: 1.2rem 0;
}

.avatar {
	background-color: #ffffff;
	color: #0787e6;
}

.profile-username {
	text-transform: capitalize;
	font-size: 3rem;
	color: #ffffff;
	margin-bottom: 0.8rem;
}

.profile-useremail {
	font-size: 1rem;
	color: #ffffff;
}

.tab-content {
	margin-bottom: 5rem;
	padding: 0 1rem;
}

.nothing-to-show {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}
