.tutorial {
	min-height: calc(100vh - 4rem);
	width: 80%;
	margin: 2rem auto;
	user-select: none;
}

.tutorial-title-name {
	text-transform: capitalize;
}

.tutorial-tags {
	margin-bottom: 1rem;
	user-select: none;
}

.divider {
	background-color: #1890ff;
}

.tutorial-info {
	font-size: 1rem;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.reviews {
	margin: 2rem 0 5rem 0;
}

.review {
	margin: 1rem 0;
}

.review .reviewed-by {
	font-weight: bold;
	margin-bottom: 5px;
}

.review .review-content {
	text-align: justify;
}

@media screen and (max-width: 768px) {
	.tutorial-title-name {
		font-size: 1.2rem;
	}

	.tutorial-info {
		font-size: 0.85rem;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 576px) {
	.review-submit-button {
		margin-top: 5px;
	}
}
