.tutorial {
	width: 80%;
	margin: 2rem auto;
}

.tutorial-tags {
	margin-bottom: 1rem;
}

.divider {
	background-color: #1890ff;
}

.tutorial-info {
	font-size: 1rem;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.reviews {
	margin-top: 20px;
}

.review-text {
	width: 90%;
	margin-right: 1rem;
}
