.tutorial-card {
	user-select: none;
	cursor: pointer;
	background-color: #f8f8f8;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.tutorial-card:hover {
	transform: translateX(-2px) translateY(-2px);
	box-shadow: 2px 2px 5px 0px #0787e6;
}

.tutorial-card:active {
	transform: translateX(0) translateY(0);
	box-shadow: none;
}

.card-entries {
	margin-bottom: 10px;
	font-size: 1rem;
}
