.tutorial-card {
	height: 250px;
	user-select: none;
	cursor: pointer;
	background-color: #f8f8f8;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.tutorial-card:hover {
	transform: translateX(-2px) translateY(-2px);
	box-shadow: 2px 2px 5px 0px #0787e6;
}

.card-title {
	font-size: 1.2rem;
	border-bottom: 1px solid #0787e6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.tutorial-name {
	display: inline-block;
	width: 90%;
}

.tutorial-name:hover {
	color: #0787e6;
}

.favorite {
	color: #f72b2b;
}

.card-entries {
	margin-bottom: 10px;
	font-size: 1rem;
}
