.tutorial-card {
	min-height: 170px;
	user-select: none;
	cursor: pointer;
	background-color: #f8f8f8;
	margin-top: 20px;
	transition-duration: 0.3s;
}

.tutorial-card:hover {
	transform: translateX(-2px) translateY(-2px);
	box-shadow: 2px 2px 5px 0px #0787e6;
}

.card-title {
	font-size: 1.2rem;
	border-bottom: 1px solid #0787e6;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.upvotes {
	display: inline-block;
	padding: 0.5rem;
	margin: 0 5px 0 0;
	text-align: center;
}

.upvote-icon {
	transition-duration: 0.3s;
}

.upvote-icon:hover {
	color: #0787e6;
}

.upvoted {
	color: #0787e6;
}

.tutorial-name {
	display: inline-block;
	width: 80%;
}

.tutorial-name:hover {
	color: #0787e6;
}

.card-entries {
	margin-bottom: 1.2rem;
	font-size: 1rem;
}

.favorite-button,
.remove-favorite-button {
	float: right;
}
