.tutorials-by-tag {
	min-height: calc(100vh - 4rem);
	width: 80%;
	margin: 3rem auto;
}

.tutorial-title {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.tutorial-title {
		font-size: 1.5rem;
	}
}
